#garden,
#bomber1,
#bomber2,
#bomber3,
#bomber1-dead,
#bomber2-dead,
#bomber3-dead,
#bomb1,
#bomb2,
#bomb3,
#bomb-explosion,
#bullet1,
#bullet2,
#bullet3,
#bullet-explosion,
#base1,
#base1-dead,
#missile1 {
    display: none;
}

#main-container {
    text-align: center;
    position: relative;
}

#upper {
    width: 90%;
    position: absolute;
    z-index: 1;
    margin: 30px 4%;
    text-align: left;
}

#canvas {
    margin: 20px auto 0 auto;
}

#lives {
    float: right;
}